body {
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container, .login-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
}
